body {
    max-width: 20em;
    margin: 0 auto;
    
}


ul{
    list-style:none;
    padding: 0;
    margin: 0;    
}

form{
    border: medium solid;
}


form li{
    text-align: left;
    width: 90%;
    margin: 1em;
    font-weight: bold;
}

input[type="text"],input[type="password"]{
    width: 100%;
    border: medium solid;
    text-align: center;
    font-weight: bold;
}

input[type="submit"]{
    display: block;
    margin: 0 auto;
    border: medium solid black;
    background-color: white;
    font-weight: bold;
}

.login-form{
    margin-top: 20vh;
}

.error-message{
    text-align: center;
    color: #FF4444;
    font-weight: bold;
}
